<div class="members-entry">
    <section>
        enter the secret code to be a member
    </section>
    <form action="/add-member" method="post">
        <input type="text" name="membership-password" >
        <input type="submit" value="enter">
    </form>
    <% if (isNotMatch) { %>
        <section>Wrong passcode</section>
    <% } %>
    <button onclick=toggleShowHide()>close</button>

</div>

<script>
    const entryForm = document.querySelector('.members-entry')
    const toggleShowHide = ()=>{
        entryForm.style.display = entryForm.style.display=='flex'?'none':'flex'
    }
</script>