<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>register user</h1>
    <ul>
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
    <form action="/register" method="post">
        <div>
            <label for="full-name"> full name:</label><br>
            <input type="text" name="full-name" id="full-name">
        </div>
        <div>
            <label for="username">username:</label><br>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">password:</label><br>
            <input type="text" name="password" id="password">
        </div>
        <div>
            <label for="password-confirm">confirm your password:</label><br>
            <input type="text" name="password-confirm" id="password-confirm">
        </div>
        <input type="submit" name="submit" value="submit" id="submit">
    </form>
    
</body>
</html>